<lib-element-wrapper className="formSelection" [control]="resolvedControl" [submitted]="submitted">
  <lib-element-caption [field]="field" [forId]="field.key" />
  <div class="element-field">
    <ng-select
      [items]="items"
      bindLabel="caption"
      bindValue="value"
      [multiple]="!!field.properties.allowMultiSelect"
      [searchable]="true"
      [clearable]="false"
      [closeOnSelect]="!field.properties.allowMultiSelect"
      [formControl]="$any(resolvedControl)"
      [labelForId]="field.key"
      [inputAttrs]="{ id: field.key, 'aria-describedby': field.key + '_desc', autocomplete: field.properties.autoComplete || '', title: field.properties.description || '' }"
      [placeholder]="placeholderLabel"
      (blur)="markTouched()">
    </ng-select>
    <lib-validation-message [field]="field" [control]="resolvedControl" [submitted]="submitted" />
  </div>
</lib-element-wrapper>
