<div class="Form__Element FormTextbox">
  <label [for]="field().key" class="Form__Element__Caption">{{ field().properties.label }}</label>
  <input
    [id]="field().key"
    [formControl]="$any(control())"
    type="text"
    class="FormTextbox__Input"
    [attr.placeholder]="field().properties.placeHolder || null"
    [attr.title]="field().properties.description || null"
    [attr.aria-describedby]="field().key + '_desc'"
    [attr.autocomplete]="field().properties.autoComplete || null"
  />
  <lib-validation-message [field]="field()" [control]="control()" [submitted]="submitted()" />
</div>
