<div class="Form__Element FormChoice FormChoice--Image">
  <fieldset [attr.aria-describedby]="field().key + '_desc'">
    <legend class="Form__Element__Caption">{{ field().properties.label }}</legend>
    @for (item of field().properties.items ?? []; track item.text; let idx = $index) {
      <label [for]="field().key + '_' + idx" class="FormChoice--Image__Item">
        <input
          [id]="field().key + '_' + idx"
          [type]="field().properties.allowMultiSelect ? 'checkbox' : 'radio'"
          [checked]="isChecked(item.text)"
          [value]="item.text || ''"
          [class]="field().properties.allowMultiSelect ? 'FormChoice__Input FormChoice__Input--Checkbox' : 'FormChoice__Input FormChoice__Input--Radio'"
          (change)="toggleValue(item.text, $any($event.target).checked)"
        />
        <span class="FormChoice--Image__Item__Caption">{{ item.text }}</span>
        @if (item.url) {
          <img [src]="item.url" [alt]="item.title || item.text || ''" />
        }
      </label>
    }
  </fieldset>
  <lib-validation-message [field]="field()" [control]="control()" [submitted]="submitted()" />
</div>
