<lib-element-wrapper className="formFileUpload" [control]="control" [submitted]="submitted">
  <lib-element-caption [field]="field" [forId]="field.key" />
  <div class="element-field">
    <input
      [id]="field.key"
      type="file"
      class="element-field__control formFileUpload__Input"
      [multiple]="!!field.properties.allowMultiple"
      [attr.accept]="field.properties.fileTypes || null"
      [attr.title]="field.properties.description || null"
      [attr.aria-describedby]="field.key + '_desc'"
      (change)="onFileChange($event)" />
    <lib-validation-message [field]="field" [control]="control" [submitted]="submitted" />
  </div>
</lib-element-wrapper>
