.element-wrapper {
  padding: 16px 0;
  line-height: 24px;
  display: flex;
  gap: 12px;

  ::ng-deep {
    .element-field {
      width: 100%;

      .element-field__control {
        width: 100%;
      }
    }
  }
}

.element-wrapper ::ng-deep lib-element-caption {
  display: block;
  width: 100%;
  max-width: 50%;
  min-width: 50%;
}
