<div class="Form__Element FormRange">
  <label [for]="field().key" class="Form__Element__Caption">{{ field().properties.label }}</label>
  <input
    [id]="field().key"
    [formControl]="$any(control())"
    type="range"
    class="FormRange__Input"
    [attr.min]="field().properties.min ?? null"
    [attr.max]="field().properties.max ?? null"
    [attr.step]="field().properties.step ?? null"
    [attr.aria-describedby]="field().key + '_desc'"
  />
  <output class="FormRange__Output">{{ control()?.value }}</output>
  <lib-validation-message [field]="field()" [control]="control()" [submitted]="submitted()" />
</div>
