<div class="Form__Element FormFileUpload">
  <label [for]="field().key" class="Form__Element__Caption">{{ field().properties.label }}</label>
  <input
    [id]="field().key"
    type="file"
    class="FormFileUpload__Input"
    [multiple]="!!field().properties.allowMultiple"
    [attr.accept]="field().properties.fileTypes || null"
    [attr.aria-describedby]="field().key + '_desc'"
    (change)="onFileChange($event)"
  />
  <lib-validation-message [field]="field()" [control]="control()" [submitted]="submitted()" />
</div>
